fastapi==0.129.0
uvicorn==0.40.0
pydantic==2.12.5
pydantic-settings==2.13.0
SQLAlchemy==2.0.46
psycopg2-binary==2.9.11
pgvector==0.4.2
python-jose[cryptography]==3.5.0
bcrypt==5.0.0
python-multipart==0.0.22
requests==2.32.5
python-dotenv==1.2.1
duckduckgo_search==8.1.1
groq==1.0.0
cohere==5.20.5
starlette==0.52.1
anyio==4.12.1
httpx==0.28.1
typing-extensions==4.15.0
email-validator==2.3.0
passlib==1.7.4
cffi==2.0.0
cryptography==46.0.5
