fastapi==0.115.8
uvicorn[standard]==0.34.0
sqlalchemy==2.0.38
duckduckgo-search==7.3.2
groq==0.16.0
cohere==5.13.10
python-dotenv==1.0.1
passlib[bcrypt]==1.7.4
python-multipart==0.0.20
nltk==3.9.1
pydantic==2.10.6
psycopg2-binary==2.9.9
python-jose==3.3.0
pgvector

